/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

:root {
	--menu-item-height: 6rem;
	--burnt-orange: #bf5700;
	--default-margin: 0.5rem;
}

main {
	color: black;
	max-width: 640px;
	margin: auto;
}

.menu-item {
	/* height: var(--menu-item-height); */
	margin: 0 var(--default-margin) 3rem var(--default-margin);
	/* overflow: scroll; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.menu-item-image {
	display: block;
	height: var(--menu-item-height);
	width: var(--menu-item-height);
	border-radius: 20px;
	object-fit: cover;
	margin: 0 1rem 0 0;
}

.menu-item-content {
	flex-direction: column;
	flex-grow: 1;
}

.menu-item-price-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: flex-end;
}

.menu-item-price-box p {
	margin: auto 0;
}


h2 {
	margin: 2rem auto;
	font-size: 2.5rem;
	text-align: center;
	color: var(--burnt-orange)
}

.description-box {
	margin: 0;
	padding: 0;
}

.food-title {
	font-size: 1.5rem;
	font-weight: 600;
	text-align: left;
	margin: 0;
	padding: 0;
}

.food-description {
    font-size: 1rem;
    color: #444;
	margin: 0;
	padding: 0;
}

.menu-item-button {
	border-radius: 20px;
	margin: 1rem;
	padding: 0 1rem;
	border: 0.1rem outset var(--burnt-orange);
	box-shadow: -5px 5px 5px 0 #00000022;
	color: black;
}

.menu-item-quantity {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: monospace;
	font-size: 1rem;
}

.menu-item-quantity-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 1rem;
	margin: 0 1rem;
	width: 1.5rem;
	aspect-ratio: 1;
	border: 0.1rem outset var(--burnt-orange);
	box-shadow: -5px 5px 5px 0 #00000022;
}

.cedarville-cursive-regular {
	font-family: "Cedarville Cursive", cursive;
	font-weight: 400;
	font-style: normal;
}

.menu-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menu-logo {
	height: 200px;
	max-width: 100%;
	object-fit: scale-down;
}

@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
.menu-flavor-text {
	margin-bottom: 3rem;
	font-family: 'Single Day', cursive;
}

.menu-footer {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	margin: var(--default-margin);
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.menu-footer-buttons {
	display: flex;
	justify-content: center;
	margin: auto 0;
}

.menu-footer-buttons button {
	font-size: 1rem;
	margin-left: 0;
	padding: 0.2rem 0.6rem;
}